@use "variable";
$i:1;

.container{
  width: 90%;
  margin: auto;
}
.container-full{
  width: 95%;
  margin: auto;
}

.row{
  @extend .fxb-d-flex;
}
/*
  css flex box
 */
.fxb-d-flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @extend .flexbox-justify-content-between;
}
.flexbox-justify-content-between{
  justify-content: space-between;
}
.flexbox-justify-content-end{
  justify-content: flex-end;
}

/*
  css button
 */

.btn{
  padding: 0.375rem 1rem;
  color: white;
  @extend .btn-border-radius;
}
.btn:focus{
  outline: none;
  border: 2px solid rgba(97,106,232,$i);
}

.btn-Lightness{
  background-color: variable.$color-lightness;
}
.btn-Saturation{
  background-color: variable.$color-saturation;
}

/*
  css  border
 */
.btn-border-radius{
  border: none;
  border-radius: (variable.$size-border_radius);
}

/*
  navbar  nav-item
 */
.nav-item{
    margin:0 variable.$margin;
}
/*
    navbar-button
 */
.navbar-toggler{
  display: none;
}
